<div class="mailing-list">
	<div class="content">
		<form>
			<input type="text" placeholder="your@email.com"/>
			<div class="button">JOIN</div>
		</form>
		<span class="desc">JOIN OUR MAILING LIST</span>
	</div>
</div>
<footer>
	<div class="content">
		<div class="top">
			<div class="footer-section footer-social">
				<div class="header header-text">SOCIAL</div><br>
				<div class="footer-element">FACEBOOK</div>
				<br>
				<br>
				<div class="header header-text">CONTACT</div><br>
				<div class="footer-element">EATPLUS@GMAIL.COM</div>
				<br>
			</div>

			<div class="footer-section footer-products">
				<div class="header header-text">EAT+ PRODUCTS</div>
				<br>
				<div class="footer-element"><a href="/product:steak">PURE STEAK</a></div>
				<div class="footer-element"><a href="/product:swordfish">OMEGA SWORDFISH</a></div>
				<div class="footer-element"><a href="/product:springmix">SPRING MIX INTENSE</a></div>
				<div class="footer-element"><a href="/product:bread">TRIPLE ENERGY BREAD</a></div>
				<div class="footer-element"><a href="/product:broccoli">POWER BROCCOLI</a></div>
			</div>
			<div class="footer-section footer-plans">
				<div class="header header-text">SUBSCRIPTION</div>
				<br>
				<div class="footer-element"><a href="/subscription">SUBSCRIPTION PLANS</a></div>
			</div>
		</div>
		<div class="bottom">
			<img class="hi-velocity" src="media/hi_velocity.png" width="36px" height="36px"/>
			<div class="terms"> Terms and Conditions </div>
		</div>
	</div>
</footer>