<!DOCTYPE html>
<html>
  <head>
	<link rel='stylesheet' href='css/index.css' />
  	<% include head %>
  </head>
  <body>
  	<% include nav %>

  	<div class="content splash">
  		<div class="splash-text header-text">
  			DESIGNED FOR YOUR BODY
  		</div>
  		<div class="splash-sub-text power-text">
  			<div class="main">FUSION DRAIN</div>
  			<hr>
  			<div class="sub">WITH PURE FLEX TECHNOLOGY</div>
  		</div>
  	</div>

  	<br><br>

  	<div class="content">
  		<div class="process-box">
  			<div class="process-text header-text">
  				<div class="process-header">
  					THE <strong>NATURAL</strong> WAY<br>	
  					THE <strong>POWERFUL</strong> WAY
  				</div>
  				<br>
  				<div class="process-detail">
  					FIND OUT WHERE OUR PRODUCTS COME FROM
  				</div>
  				<br>
  				<div class="process-button">LEARN MORE</div>
  			</div>	
  		</div>
  		<div class="product-box">
  			<div class="product-header header-text"> &nbsp OUR PRODUCTS </div>
  		</div>
  	</div>

  	<br><br>

  	<div class="content index-subscribe">
  		<div class="sub power-text">SUBSCRIBE TO OUR MONTHLY PROGRAM</div>
  		<div class="main power-text">STARTING AS LOW AS <br><strong>$8.99</strong> A WEEK</div> 
  		<div class="button header-text">SUBSCRIBE</div>
  	</div>

  	<br><br>

  	<div class="content index-advertisement">
  	</div>

  	<br><br>

  	<% include footer %>

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/index.js"></script>

  </body>
</html>