<nav>
	<div class="content">
		<div class="logo top-bar">EAT+</div>
		<div class="bottom-bar">
			<div class="navigation">
				<div class="navigation_element"><a href="/products">PRODUCTS</a></div>
				<div class="navigation_element"><a href="/subscription">SUBSCRIPTION</a></div>
				<div class="navigation_element">ABOUT</div>
			</div>
			<div class="slogan">NEVER SETTLE FOR LESS</div>
		</div>
	</div>
</nav>