<div class="product-cell" data-handle="springmix">
  <div class="header header-text">
    SPRING MIX INTENSE
  </div> 
  <img src="media/eat_D_thumbnail.png" width="240" height="240">
  <div class="desc">
    A mix of all you need. 
  </div>
  <br>
  <div class="button header-text">MORE INFO</div>
  <br>
  <div class="subscription">
  This product can be bought through our <br><a href="/subscription">subscription</a> service.
  </div>
</div> 