<div class="product-cell" data-handle="swordfish">
  <div class="header header-text">
    OMEGA SWORDFISH
  </div> 
  <img src="media/eat_C_thumbnail.png" width="240" height="240">
  <div class="desc">
    Endless protein. 
  </div>
  <br>
  <div class="button header-text">MORE INFO</div>
  <br>
  <div class="subscription">
  This product can be bought through our <br><a href="/subscription">subscription</a> service.
  </div>
</div> 