<div class="product-cell" data-handle="broccoli">
  <div class="header header-text">
    POWER BROCCOLI
  </div> 
  <img src="media/eat_B_thumbnail.png" width="240" height="240">
  <div class="desc">
    Green power like never before.
  </div>
  <br>
  <div class="button header-text">MORE INFO</div>
  <br>
  <div class="subscription">
    This product can be bought through our <br><a href="/subscription">subscription</a> service.
  </div>
</div> 