<div class="product-cell" data-handle="steak">
  <div class="header header-text">
    PURE STEAK
  </div> 
  <img src="media/eat_A_thumbnail.png" width="240" height="240">
  <div class="desc">
    Imagine some raw ass meat.
  </div>
  <br>
  <div class="button header-text">MORE INFO</div>
  <br>
  <div class="subscription">
  This product can be bought through our <br><a href="/subscription">subscription</a> service.
  </div>
</div> 