<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='css/subscription.css' />
  	<% include head %>
  </head>
  <body>
  	<% include nav %>

    <div class="content subscribe-splash power-text">
      <div class="sub">SUBSCRIBE NOW FOR ENDLESS HEALTH</div>
      <div class="main">STARTING AS LOW AS <br><strong>$8.99</strong> A WEEK</div>
    </div>
    <div class="content subscribe-how">
      <div class="header-text">HOW IT WORKS</div>
      <br><br>
      <div class="subscribe-steps">
        <div class="steps step-1">
          <div class="step-number">1</div><br>
          <div class="step-header">CHOOSE YOUR PLAN</div><br>
          <img class="" src="media/subscribe_step1.png"><br>
          <div class="step-desc">Select between our tall, <br> grande and venti plans.</div><br>
        </div>
        <div class="vertical-separator"></div>
        <div class="steps step-2">
          <div class="step-number">2</div><br>
          <div class="step-header">GIVE US YOUR <br> DELIVERY SCHEDULE</div><br>
          <img class="" src="media/subscribe_step2.png"><br>
          <div class="step-desc">Just give us your <br> information, and we'll <br> handle the rest.</div><br>
        </div>
        <div class="vertical-separator"></div>
        <div class="steps step-3">
          <div class="step-number">3</div><br>
          <div class="step-header">GET THE NUITRIENTS <br> YOU NEED</div><br>
          <img class="" src="media/subscribe_step3.png"><br>
          <div class="step-desc">Drink up! Enjoy a new, <br> healthier you.</div><br>
        </div>
      </div>
      <div class="subscribe-email">
        <div class="subscribe-email-desc header-text">
          Leave us your email, and we'll <br> keep you posted with any updates!
        </div> <br>
        <input type="text"/> <br><br>
        <div class="button">KEEP ME UPDATED</div>
      </div>
    </div>

    <br><br>

    <div class="content content-plan">
      <div class="plans">
        <div class="header-text header">
          SELECT THE PLAN THAT FITS YOU
        </div>    
        <div class="plan-selections">
          <div class="plan plan-1">
            <div class="header">TALL</div> <br>
            <img class="" src="media/plan_1.png"><br><br>
            <div class="desc">
              <strong>ONE</strong> PACK A DAY <br>
              <strong>5 SET FLAVORS</strong> <br>
              <strong>TWO CHOICE FLAVORS</strong> <br>
              WEEKLY SHIPPING <br>
            </div>
            <div class="button">SUBSCRIBE NOW</div>
          </div>
          <div class="vertical-separator"></div>
          <div class="plan plan-2">
            <div class="header">GRANDE</div> <br>
            <img class="" src="media/plan_2.png"><br><br>
            <div class="desc">
              <strong>ONE</strong> PACK A DAY <br>
              <strong>5 SET FLAVORS</strong> <br>
              <strong>TWO CHOICE FLAVORS</strong> <br>
              WEEKLY SHIPPING <br>
            </div>
            <div class="button">SUBSCRIBE NOW</div>
          </div>
          <div class="vertical-separator"></div>
          <div class="plan plan-3">
            <div class="header">VENTI</div> <br>
            <img class="" src="media/plan_3.png"><br><br>
            <div class="desc">
              <strong>ONE</strong> PACK A DAY <br>
              <strong>5 SET FLAVORS</strong> <br>
              <strong>TWO CHOICE FLAVORS</strong> <br>
              WEEKLY SHIPPING <br>
            </div>
            <div class="button">SUBSCRIBE NOW</div>
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="content index-advertisement">
    </div>

    <br><br>
    
  	<% include footer %>

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/index.js"></script>
    
  </body>
</html> 